<p-toast [style]="{marginTop: '120px'}"></p-toast>
<div class="container">
    <div class="d-flex justify-content-center h-100" style="margin-top: 200px;">
        <div class="card">
            <div class="card-header">
                <h3>Set New Paswword</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="signinForm" (ngSubmit)="setPassword()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                        </div>
                        <input type="text" class="form-control" [formControl]="signinForm.controls['password']"
                            placeholder="Enter password">

                    </div>
                    <div *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched"
                        class="alert alert-danger">
                        <small class="form-error-msg">
                            password is required </small>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                        </div>
                        <input type="text" class="form-control" [formControl]="signinForm.controls['confirmPassword']"
                            placeholder="Enter confirmPassword">

                    </div>
                    <div *ngIf="signinForm.controls['confirmPassword'].hasError('required') && signinForm.controls['confirmPassword'].touched"
                        class="alert alert-danger">
                        <small class="form-error-msg">
                            confirmPassword is required </small>
                    </div>
                    <div class="form-group">
                        <input type="submit" [disabled]="signinForm.invalid" value="Submit"
                            class="btn btn-block float-right login_btn mb-3 mt-3">
                    </div>
                    <div class="form-group text-right">
                        <a class="text-dark" [routerLink]="['/login']">Back to Login</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>