<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" formControlName="userName" class="form-control" placeholder="Your Name" required>

        </div>
        <div *ngIf="form.controls['userName'].invalid && (form.controls['userName'].dirty || form.controls['userName'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['userName'].errors.required">
                User Name is required.
            </div>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="text" formControlName="email" class="form-control"
                placeholder="Email Address (test@dicentral.com)" required>
        </div>
        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['email'].errors.required">
                Email is required.
            </div>
            <div *ngIf="form.controls['email'].errors.email || form.controls['email'].invalid">
                Invalid email format.
            </div>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-handshake-o"></i></span>
            </div>
            <input type="number" formControlName="dealId" class="form-control" placeholder="Enter the Deal Id" required>
        </div>
        <div *ngIf="form.controls['dealId'].invalid && (form.controls['dealId'].dirty || form.controls['dealId'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['dealId'].errors.required">
                Deal-id is required.
            </div>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
            </div>
            <input type="text" formControlName="customerName" class="form-control" placeholder="Enter the Customer Name"
                required>
        </div>
        <div *ngIf="form.controls['customerName'].invalid && (form.controls['customerName'].dirty || form.controls['customerName'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['customerName'].errors.required">
                Customer Name is required.
            </div>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-money"></i></span>
            </div>
            <select formControlName="currency" class="form-control">
                <option *ngFor="let item of data.currencyData" value="{{item.Currency}}"> {{item.Currency}}</option>

            </select>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Submit" [disabled]="form.invalid" class="btn btn-info btn-sm">
        </div>
    </form>
</div>