<p-toast [style]="{marginTop: '120px'}"></p-toast>
<div class="container p-5">
    <div class="card m-auto" style="max-width: 400px;">
        <div class="card-header">
            <h5>Reset Password</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="font-weight-bold">Current Password</label>
                        <input class="form-control" [(ngModel)]="currentPassword" type="password" autocomplete="off" required />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="font-weight-bold">New Password</label>
                        <input class="form-control" [(ngModel)]="newPassword"  type="password"  autocomplete="off" required />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="font-weight-bold">Confirm Password</label>
                        <input class="form-control" [(ngModel)]="confirmPassword"  type="password" autocomplete="off" required />
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-sm btn-primary" (click)="submit()"><i
                            class="fa fa-check"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>